<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="sidebarLægeOpretPatient">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }
    </style>
</head>
<body>
<div class="sidenav">
    <a href="/opretPatient" >Opret patient</a>
    <a href="/login">Login</a>

</div>

<div id="wrapper">

</div>

</body>
</div>
</html>