<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Læge Home</title>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLæge :: sidebarLæge"></div>



<div id="wrapper">
   <h1>Læge home</h1>

    <div>
        <h2>Patient</h2>
        <label>Navn: </label>
        <td th:text="${patient.forNavn}">fornavn</td>
        <td th:text="${patient.efterNavn}">efternavn</td>
        <br>
        <label>Cpr: </label>
        <td th:text="${patient.cpr}">cpr</td>
        <br>
        <label>Fødselsdato: </label>
        <td th:text="${patient.foedselsdato}">dato</td>
        <br>
        <label>Telefonnummer: </label>
        <td th:text="${patient.telefonNr}">nummer</td>
        <br>
        <label>Adresse: </label>
        <td th:text="${patient.adresse}">adresse</td>
        <br>
        <label>Højde: </label>
        <td th:text="${patient.hoejde}">højde</td>
        <br>
        <label>Vægt: </label>
        <td th:text="${patient.vaegt}">vægt</td>
        <br>
        <label>Beskrivelse: </label>
        <td th:text="${patient.kortBeskrivelse}">beskrivelse</td>
        <br>

    </div>


</div>
</body>
</html>