<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Patient</title>

</head>
<body>

<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLægeOpretPatient :: sidebarLægeOpretPatient"></div>


<div id="wrapper">
    <h1>Opret patient</h1>

    <section>

        <form method="post" th:action="@{/opretPatient}" id="opret_patient">

            <label> Fornavn: </label>
            <input type="text" name="Fornavn" placeholder="Fornavn" id="fornavn" th:field="${patient.forNavn}">
            <br>

            <label> Efternavn: </label>
            <input type="text" name="Efternavn" placeholder="Efternavn" id="efternavn" th:field="${patient.efterNavn}">
            <br>

            <label> CPR nr: </label>
            <input type="number" name="CPR.nr" placeholder="CPR.nr" id="cpr.nr" th:field="${patient.cpr}">
            <br>

            <label> Fødselsdato: </label>
            <input type="date" name="Fødselsdato" placeholder="Fødselsdato" id="fødselsdato" th:field="${patient.fødselsdato}">
            <br>

            <label> Telefon nr: </label>
            <input type="number" name="Telefon nummer" placeholder="Telefon nummer" id="telefon.nr" th:field="${patient.telefonNr}">
            <br>

            <label> Adresse: </label>
            <input type="text" name="Adresse" placeholder="Adresse" id="adresse" th:field="${patient.adresse}">
            <br>

            <label> Højde: </label>
            <input type="number" name="Højde" placeholder="Højde" id="højde" th:field="${patient.højde}">
            <br>

            <label> Vægt: </label>
            <input type="number" name="Vægt" placeholder="Vægt" id="vægt" th:field="${patient.vægt}">
            <br>

            <label> Kort beskrivelse af patient: </label>
            <textarea name="Kort beskrivelse" placeholder="Kort beskrivelse af patienten ..." id="comment" th:field ="${patient.kortBeskrivelse}"></textarea>
            <br>

            <input type="submit" value="Opret patient">

        </form>
    </section>
</div>


</body>
</html>