<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Recept</title>
    <style>

        #opret_recept input {
            margin-top: 10px;
        }
    </style>

</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLæge :: sidebarLæge"></div>


<div id="wrapper">
        <h1> Opret recept</h1>
    <section>

        <form action="/opretReceptLæge" method="post" id="opret_recept">


            <label> Kort Note:</label>
            <textarea type="text" name="note" placeholder="Kort note"></textarea>
            <br>
            <label> Medicin:</label>
            <input type="text" name="medicin" placeholder="Medicin">
            <br>
            <label> Dato:</label>
            <input type="date" name="dato" placeholder="dato ">
            <br>

            <input type="submit" value="Opret recept">
        </form>
    </section>



</div>


</body>
</html>