<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Opret Konsultation </title>
    <style>

        #opret_konsultation input {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLæge :: sidebarLæge"></div>


<div id="wrapper">
    <h1> Patientkonsultation </h1>
<section>

    <form action="/??" method="post" id="opret_konsultation">

        <label>Beskrivelse:</label>
        <textarea type="text" name="Beskrivelse" placeholder="Beskrivelse"></textarea>
        <br>
        <label>Konklusion:</label>
        <textarea type="text" name="konklusion" placeholder="Konklusion"></textarea>
        <br>
        <label>Dato:</label>
        <input type="date" name="dato" placeholder="dato" id="dato">
        <br>

        <input type="submit" value="Opret konsultation">
    </form>
</section>
</div>
</body>
</html>