<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patient informationer</title>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLæge :: sidebarLæge"></div>

<div id="wrapper">

    <h1> Patient informationer</h1>


    <div>
        <h2 th:text="${fornavn}" ></h2>
        <h2 th:text="${efternavn}"></h2>
        <h2 th:text="${cpr}"></h2>
    </div>


</div>
</body>
</html>