<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tildel Diagnose </title>
    <style>

    #opret_diagnose input {
    margin-top: 10px;
    }

    </style>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarLæge :: sidebarLæge"></div>
<div id="wrapper">
        <h1> Tildel diagnose</h1>
    <section>

        <form method="post" th:action="@{/tildelDiagnose}" id="tildelDiagnose">

            <!--<label> Patient fornavn:</label>-->
            <!--<input type="text" name="fornavn" placeholder="Fornavn" id="fornavn" th:field="${diagnose.patientFornavn}">-->
            <!--<br>-->
            <!--<label> Patient efternavn:</label>-->
            <!--<input type="text" name="efternavn" placeholder="Efternavn" id="efternavn" th:field="${diagnose.patientEfternavn}">-->
            <!--<br>-->
            <!--<label> Patient CPR:</label>-->
            <!--<input type="number" name="cpr" placeholder="CRP-nr" id="cpr" th:field="${diagnose.cpr}">-->
            <!--<br>-->
            <label> Diagnose:</label>
            <input type="text" name="diagnose" placeholder="Diagnose" id="diagnose" th:field="${diagnose.diagnose}">
            <br>
            <label> Medicin:</label>
            <input type="text" name="medicin" placeholder="Medicin" id="medicin" th:field="${diagnose.medicin}">
            <br>
            <label> Kort note:</label>
            <textarea type="kort-note" name="note" placeholder="Kort note" id="note" th:field="${diagnose.note}"></textarea>
            <br>
            <label> Dato for diagnose:</label>
            <input type="date" name="dato" placeholder="dato" id="udstedt" th:field="${diagnose.dato}">
            <br>
            <br>
            <input type="submit" value="Tildel diagnose">
        </form>
    </section>



</div>

</body>
</html>